* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: minmax(220px, 20%) 1fr;
    height: 100vh;
    font-family: "Poppins";
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: #FFFCF9;
    padding-left: 5%;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    margin-top: 5%;
}

ul {
    list-style: none;
}

.nav li {
    padding:5px;
    border-radius: 10px;
    font-size: 1rem;
}

.nav.first li:hover {
    background-color: #FFF0F2;
    color: #FF6978;
    cursor: pointer;
}

.first span,
.second span {
    padding-left: 2%;
}

/* Project Sidebar */
.nav.second li {
    padding-left: 22px;
}

/* Task and Project Modal */
dialog {
    margin: auto;
    height: 60%;
    width: max(340px, 50%);
    border-radius: 20px;
    border: none;
}

.project-dialog {
    height: fit-content;
    width: fit-content;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 30px;
}

form h1 {
    text-align: center;
    margin-bottom: 2%;
    color: #156064;
}

.form-row {
    display: flex;
    gap: 5%;
    align-items: baseline;
}

.form-row label,
.form-row textarea {
    width: 12ch;
}

.project-form label {
    width: fit-content;
}

input[type="text"]::placeholder,
textarea::placeholder {
    font-family: monospace;
    color: black;
}

input[type="text"],
textarea,
input[type="datetime-local"] {
    padding: 10px;
    padding-left: 15px;
    flex-grow: 1;
    background-color: #F6F7F8;
    border: none;
}

fieldset {
    border: none;
    display: flex;
    gap: 5%;
}

.legend-like {
    display: inline-block;
    width: 12ch;
    margin-right: 5px;
}

.radio-box {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 10px;
}

.submit,
.cancel {
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
}

.submit
{
    background-color: #00C49A;
    color: #FFFCF9;
}

.submit:hover {
    background-color: #00A882;
}

.cancel:hover {
    background-color: #DCDCDC;
}

/* Main content */
.main {
    padding-top: 60px;
    padding-left: 50px;
}

.main h1 {
    margin-bottom: 20px;
}

/* Main Content for Tasks Display */
.tasks.container li {
    border-top: 1px solid lightgray;
    padding: 1em 1.5em;
    position: relative;
    transition: background-color 0.2s ease;
}

.tasks.container li:last-child {
    border-bottom: 1px solid lightgray;
}

.tasks.container li:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.task-item::before {
    content: "";
    height: 0.8rem;
    width: 0.8rem;

    position: absolute;
    left: 0;
    top: 30%;

    border: #808080 solid;
    background-color: #E0E0E0;
    border-radius: 50%;
}

.tasks.container span {
    display: block;
    font-size: 0.7rem;
    color: green;
    margin-top: -1.em;
}

.high-priority::before {
    border: #F45D01 solid;
    background-color: #FFE5CC;
}

.medium-priority::before {
    border: #EEB902 solid;
    background-color: #FFF3B8;
}

.low-priority::before {
    border: #2D7DD2 solid;
    background-color: #D6E4FB;
}

/* Main content for Projects Display */
.container h4 {
    margin-bottom: 10px;
}

.project-item {
    margin-bottom: 4rem;
}

.add-task {
    color: #999999;
}

.add-task::before {
    content: "+";
    color: #C1292E;
    font-size: 1.8em;
    font-family: 'Courier New', Courier, monospace;

    position: absolute;
    left: 0;
    top: 12px;
}
